@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body{
	font-family: 'Montserrat', sans-serif;
	background-color: #eee;
}

a{
	text-decoration: none;
}


/*start left sidebar*/
.sidebars{
	height: 100vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.8)),url('../assets/img/cover.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	box-shadow: 6px 0px 25px #999;
}

.borderbottoms{
	border-bottom: 1px groove #eee;
}

.currents{
	background-color: #e82107;
	border-radius: 5px;
	box-shadow: 5px 5px 20px #111;
	transition: all 0.3s;
}

.currents:hover{
	transform: translateY(-1px);
}



.navbarlinks:hover{
	background-color: #222;
	border-radius: 5px;
}
/*start left navbar*/

/*start top sidebar*/
.breadcrumb a{
	color: #f4f4f4;
}

@media(max-width: 760px){
	.sidebars{
		height: auto;
		position: static;
	}
	.topnavbars{
		position: static;
	}
}


.searchinputs{
	background-color: transparent;
	color: #fff;
	border: none;
	border-bottom: 2px solid #999;
	border-radius: 0;
}

.searchinputs:focus{
	background-color: transparent;
	color: #fff;
	border-bottom: 2px solid #e82107;
	box-shadow: none;
}

.searchbtns{
	border-radius: 50%;
	transition: all 0.3s;
}


.searchbtns:hover{
	transform: translateY(-1px);
}

.iconparents{
	position: relative;
}

.icons::after{
	content: "";
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: #e82107;
	position: absolute;
	top: 0;
	left: 25px;
}
/*end top navbar*/

/*start card section*/
.cardcommmons{
	box-shadow: 1px 2px 5px #999;
	border-top: 1px groove darkorange;
	border-left: 1px groove darkorange;
	transition: all 0.4s;
}

.cardcommmons:hover{
	box-shadow: 1px 3px 15px #999;
	transform: translateY(-1px);
	border: none;
	border-bottom: 1px groove darkorange;
	border-right: 1px groove darkorange;


}
/*end card section*/

